@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: montserrat;
  color: #515076;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}

.background-pattern-flowers {
  height: 697px;
  width: 790px;
  position: absolute;
  top: 0;
  left: 135px;
  z-index: -1;
}

.title {
  text-align: center;
  margin-bottom: 110px;
  margin-top: 220px;
  font-weight: 400;
  font-size: 70px;
  line-height: 78px
}

.products-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 116px;
}

.product-card {
  cursor: pointer;
  padding: 25px;
  background-color: #F7F7FA;
  width: 340px;
  height: 573px;
  box-sizing: border-box;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-picture {
  display: block;
  margin: 0;
  padding: 0;
}

.skin-type {
  margin-top: 30px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}

.product-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 27px;
}

.product-description {
  margin-top: 0;
  margin-bottom: 15px;
}

.product-composition {
  display: block;
  margin-bottom: 5px;
}

.product-composition-list {
  list-style-image: url(img/list-type.svg);
  padding-left: 12px;
  margin-top: 0;
  margin-bottom: 25px;
}

.product-components {
  margin-bottom: 5px;
}

.price-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-label,
.price-tag {
  font-size: 20px;
  line-height: 24px;
}