button {
  background-color: #F7F7FA;
  color: #515076;
  font-size: 20px;
  font-weight: bold;
  padding: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  transition: color 0.15s, background-color 0.15s;
}

button:hover {
  background-color: #515076;;
  color: white;
}

button:active {
  background-color: #515076b4;;
}

.change-first-card-color {
  margin-bottom: 16px;
}