.card {
  background-color: #F7F7FA;
  padding: 25px;
  font-size: 13px;
  line-height: 18px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1)
}

.card__image {
  margin-bottom: 30px;
}

.card__category {
  line-height: 24px;
  font-size: 12px;
  color: #A5A3B9;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.card__description {
  margin-bottom: 15px;
}

.card__compound-label {
  margin-bottom: 5px;
}

.card__compound-list {
  margin-bottom: 25px;
}

.card__compound-element {
  list-style: none;
  background: url('../img/list-type.svg') left center no-repeat;
  padding-left: 15px;
  margin-bottom: 5px;
}

.card__compound-element:last-child {
  margin: 0;
}

.card__price-wrap {
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.card__price-label {
  font-weight: 700;
}